<article class="workout">
  <div class="title">
    <a href="https://google.com" target="_blank">{{title}}</a>
    <span>(google.com)</span>
    
  </div>
  <div class="meta">
    {{!-- {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}} --}}
    
    {{!-- <a href="/workout/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
  </div>
</article>