<section>
  <h2>Create New Workout</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
   
    <div>
        {{#each exercises }}
            <img src={{gifUrl}} />
            <input type="checkbox" name={{name}} value={{name}}>
            <label for={{name}}> {{name}}</label><br>
        {{/each}}

    </div>


    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if workouts.length}}
<section>
  <h2>Your Workouts</h2>
  <ol>
    {{#each workouts as |workout|}}
    <li>
      {{> workout-info workout}}
      <a  class="delete-link" data-id={{workout.id}}>Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}


<script src="/javascript/add-workout.js"></script>
<script src="/javascript/delete-workout.js"></script>
